<!doctype html>
<html lang="en">

<head>
    <title>Boolzap</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
        integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
</head>

<body>

    <div class="upper_bg"></div>
    <div class="lower_bg"></div>

    <div id="app" class="d-flex">

        <!-- LEFT CONTAINER HERE -->
        <div class="left_container">

            <!-- USER BAR HERE-->
            <div class="user_bar d-flex align-items-center px-3 primary_bg_box_color">
                <div class="user_avatar d-flex align-items-center me-auto">
                    <img src="./assets/img/avatar_io.jpg" alt="" class="rounded-pill d-block" height="35px">
                    <span class="ms-2">Ajeje Brazorf</span>
                </div>
                <div class="user_actions d-flex align-items-center text_custom_secondary">
                    <i class="fa-solid fa-circle-notch ms-3"></i>
                    <i class="fa-solid fa-message ms-3"></i>
                    <i class="fa-solid fa-ellipsis-vertical ms-3"></i>
                </div>
            </div>

            <!-- NOTIFICATION BAR HERE -->
            <div class="notification_bar d-flex align-items-center px-3 secondary_bg_box_color">
                <div class="flex_center rounded-pill">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="ms-3 d-flex flex-column">
                    <span class="fs_small">Ricevi notifiche di nuovi messaggi</span>
                    <a href="#" class="fs_smaller text_custom_secondary">Attiva notifiche Desktop</a>
                </div>
            </div>

            <!-- SEARCH BAR HERE -->
            <div class="search_bar p-1 flex_center primary_bg_box_color">
                <div class="px-2 bg-white flex_center">
                    <i class="fa-solid fa-magnifying-glass text_custom_secondary"></i>
                </div>
                <input class="border-none fs-smaller" type="text" placeholder="Cerca o inizia una nuova chat"
                    v-model="searchUser" @keyup="searchUserMethod"> <!-- v-on:keyup.enter="searchUserMethod" -->
            </div>

            <!-- CONTACTS SECTION HERE -->
            <div class="contacts clearfix_rule">
                <div v-for="(item, index) in contacts" v-if="item.visible === true"
                    :class="(contacts_counter === index) ? 'contact position-relative d-flex align-items-center px-2 primary_bg_box_color' : 'contact position-relative d-flex align-items-center px-2'"
                    @click="clickContact(index)">
                    <div class="d-flex align-items-center">
                        <img :src="'./assets/img/avatar' + item.avatar + '.jpg'" alt="" class="rounded-pill d-block"
                            height="40px">
                        <div class="ms-3">
                            <span>{{item.name}}</span>

                            <div v-if="item.messages.length !== 0" class="last_message fs_small text_custom_secondary">
                                {{item.messages[item.messages.length - 1].message}}</div>
                            <div v-else class="last_message fs_small text_custom_secondary">No messages</div>

                        </div>
                    </div>
                    <span v-if="item.messages.length !== 0"
                        class="p-2 fs_smaller text_custom_secondary">{{getHourFromDate(item.messages[item.messages.length
                        - 1].date)}}</span>
                    <!-- <span v-else class="p-2 fs_smaller text_custom_secondary">ciao</span> -->

                </div>
            </div>
        </div>

        <!-- RIGHT CONTAINER HERE -->
        <div v-if="contacts_counter !== null" class="right_container">

            <!-- CHAT INFO BAR -->
            <div class="chat_info_bar d-flex align-items-center px-3 primary_bg_box_color">
                <div class="user_avatar d-flex align-items-center me-auto">
                    <img :src="'./assets/img/avatar' + contacts[contacts_counter].avatar + '.jpg'" alt=""
                        class="rounded-pill d-block" height="35px">
                    <div class="ms-3">
                        <span>{{contacts[contacts_counter].name}}</span>
                        <div class="fs_small text_custom_secondary">Ultimo accesso alle 18:00</div>
                    </div>
                </div>
                <div class="user_actions d-flex align-items-center text_custom_secondary">
                    <i class="fa-solid fa-magnifying-glass ms-3"></i>
                    <i class="fa-solid fa-paperclip ms-3"></i>
                    <i class="fa-solid fa-ellipsis-vertical ms-3"></i>
                </div>
            </div>

            <!-- CHAT DIV HERE -->
            <div class="chat_div p-3">
                <div v-if="contacts[contacts_counter].messages.length !== 0">
                    <div v-for="(item, index) in contacts[contacts_counter].messages"
                        :class="(item.status === 'sent') ? 'message sent mb-2' : 'message received mb-2'">
                        <span class="position-relative">
                            {{item.message}}
                            <div class="dropdown position-absolute dropdown_btn">
                                <span type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class=""><i
                                        class="text_custom_secondary fa-solid fa-chevron-down"></i></span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <span class="dropdown-item">Informazioni</span>
                                    <span class="dropdown-item" @click="eraseMessage(index)">Elimina messaggio</span>
                                </div>
                            </div>
                            <!-- <span class="position-absolute message_info fs_smaller text_custom_secondary">{{item.hour}}</span> -->
                            <span
                                class="position-absolute message_info fs_smaller text_custom_secondary">{{getHourFromDate(item.date)}}</span>
                        </span>
                    </div>
                </div>
                <div v-else class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
                    <h2>No messages</h2>
                    <span>Invia un messaggio per avviare la chat</span>
                </div>
            </div>

            <!-- CHAT ACTIONS BAR HERE -->
            <div class="chat_actions d-flex align-items-center">

                <!-- in caso faccio casino questo è la faccina vekkia -->
                <!-- <div class="flex_center action">
                    <i class="fa-regular fa-face-smile"></i>
                </div> -->


                <!-- ESPERIMENTO EMOJI PICKER-->

                <emoji-picker id="emoji_space" >
                    <div class="h-100 flex_center action" type="button" slot="emoji-invoker" slot-scope="{ events: { click: clickEvent } }"
                        @click.stop="clickEvent"><i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="div_emojis primary_bg_box_color py-1" slot="emoji-picker" slot-scope="{ emojis, display }"> <!--  { emojis, insert, display }-->
                        <div v-for="emojiGroup in emojis">
                            <div>
                                <span class="emoji_icon" v-for="(emoji, emojiName) in emojiGroup" @click="insertEmoji(emoji)" :title="emojiName">
                                    {{ emoji }}
                                </span>
                            </div>
                        </div>
                    </div>
                </emoji-picker>
                <!-- FINE ESPERIMENTO pare funzioni-->


                <div class="flex_center input_chat">
                    <input type="text" class="w-100" placeholder="Scrivi un messaggio" v-model="userChat"
                        v-on:keyup.enter="writeMessageAndResponse">
                </div>
                <div v-if="userChat == ''" class="flex_center action">
                    <i class="fa-solid fa-microphone"></i>
                </div>
                <div v-else class="flex_center action" @click="writeMessageAndResponse">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </div>
        </div>

        <!-- RIGHT CONTAINER BEFORE USER SELECT A CHAT -->
        <div v-else class="right_container">
            <!-- <div class="chat_info_bar px-3 primary_bg_box_color">
            </div> -->
            <div class="bg-light p-3 flex_center w-100 h-100 overflow-hidden">
                <span class="lead bg-light rounded-pill p-3 border border-3 border-dark user-select-none">Boolzap Web <i
                        class="fa-solid fa-otter"></i></span>
            </div>
            <!-- <div class="chat_actions">   
            </div> -->
        </div>
    </div>

    <!-- scripts for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- import emojis -->
    <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>

    <!-- For prototyping or learning purposes -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <!-- For production, we recommend linking to a specific version number and build to avoid unexpected breakage from newer versions -->
    <!-- <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14'></script> -->

    <script src="./assets/js/app.js"></script>
</body>

</html>