:root {
    --upper-bg-color: #009688;
    --lower-bg-color: #DBDBD3;
    --primary-box-color: #EAEAEA;
    --secondary-font-color: #B1B1B1;
    --secondary-box-color: #8EDAFC;
    --custom-bg-notification: #F2FBFF;
    --bg-message-sent: #D5F9BA;
    --selected-user-bg: #E9EBEB;
}


.upper_bg {
    height: 100px;
    width: 100%;
    background-color: var(--upper-bg-color);
}

.lower_bg {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--lower-bg-color);
}

#app {
    width: 80%;
    max-width: 1000px;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix_rule::after {
    content: "";
    display: table;
    clear: both;
}

.left_container {
    width: 35%;
    height: 100%;
    float: left;
}

.right_container {
    width: 65%;
    height: 100%;
    float: left;
    background-color: blue;
}

img {
    max-width: 100%;
}

/* UTILITY */

.primary_bg_box_color {
    background-color: var(--primary-box-color);
}

.secondary_bg_box_color {
    background-color: var(--secondary-box-color);
}

.text_custom_secondary {
    color: var(--secondary-font-color);
}

.fs_standard {
    font-size: 1rem;
}

.fs_small {
    font-size: 0.8rem;
}

.fs_smaller {
    font-size: 0.6rem;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT CONTAINER */

.left_container > * {
    width: 100%;
    /* border: 1px solid black; */
}

.left_container > .user_bar {
    height: 50px;
}
.left_container > .notification_bar {
    height: 60px;
}
.left_container > .search_bar {
    height: 40px;
}
.left_container > .contacts {
    height: calc(100% - 150px);
    background-color: white;
    overflow-y: scroll;
}

.notification_bar div:first-child {
    height: 35px;
    aspect-ratio: 1 / 1;
    background-color: var(--custom-bg-notification);
}
.notification_bar div:first-child > i {
   color: var(--secondary-box-color);
}

.search_bar > * {
    height: 95%;
}

.search_bar div:first-child {
    width: 35px;
    border-radius: 5px 0 0 5px;
}

.search_bar input {
    width: calc(95% - 35px);
    border: none;
    border-radius: 0 5px 5px 0;
}
.search_bar input::placeholder {
    /* color: blue; */
    font-size: 0.8em;
    /* text-align: center;
    vertical-align: middle; */
    padding-left: 0.5rem;
} 

.contacts .contact {
    height: 60px;
    border-bottom: 1px solid var(--secondary-font-color);

}

.contact span:last-child {
   position: absolute;
   top: 0;
   right: 0;
}